{% extends "layouts/layout.html" %}

{% block body %}
    <!-- Activity form -->
    <form action="{{ url_for('add_activity')}}" method="post">
        {{ form.name.label }}
        {{ form.name }}
        <input type="submit" value="Create activity"/>
    </form>

    <!-- Available activities -->
    <table>
        <tr>
            <th>ID</th>
            <th>Activity Name</th>
            <th></th>
        </tr>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.name }}</td>
                <td>
                    <form action="{{ url_for('delete_activity', activity_id=activity.id) }}" method="post" >
                        <input type="submit" value="DELETE">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    
{% endblock %}